.displayAsGrid {
    border: 1px solid #a8aeb1;
    width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grids {
    border: 1px solid rgb(99, 94, 92);
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.grids_title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 20px 5px;
}

.grids_auther {
    margin: 10px auto;
    text-transform: capitalize;
    line-height: 16px;
}

.displayAsList {
    border: 1px solid #5f6466;
    width: 500px;
    margin: 20px auto;
}

.lists {
    border: 1px solid rgb(107, 105, 105);
    margin: 20px;
    padding: 10px;
    display: flex;
}

.list_title {
    font-size: 30px;
    width: 60%;
    margin: 20px auto;
    text-transform: capitalize;
    font-weight: 600;
}

.list_auther {
    width: 60%;
    margin: 10px auto;
    text-transform: capitalize;
    line-height: 16px;
}

.darkMode {
    background-color: #222;
    color: white;
}

.lightMode {
    background-color: white;
    color: #222;
}

@media screen and (max-width:600) {
    .displayAsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.searchinput {
    text-align: center;
    padding: 40px;
}

.btnPortion {
    text-align: center;
}

.btnPortion button {
    width: 80px;
    margin-left: 20px;
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #b16969;
}

.searchBox input {
    width: 300px;
    padding: 15px;
    border: none;
    outline: none;
    border: 1px solid #9c6969;
    border-radius: 20px;
}